.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  padding: 200px 0;
}

.title {
  color: var(--color-text-error);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}

.bgimg {
  position: absolute;
  width: 100%;
}

.news {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.newstitle {
  font-size: 1.5rem;
}

.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

.list {
  border-bottom: 1px solid var(--color-border-light);
}

.list:last-child {
  border-bottom: none;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 24px;
}

.image {
  width: 200px;
  height: auto;
  border-radius: var(--border-radius);
}

.newsLink {
  position: relative;
  right: auto;
  bottom: auto;
  margin-top: 16px;
}